<div class="w-full px-6 py-12
    {% if include.specialcolor == true %} bg-[#D4F1F4] dark:bg-[#1B52BF] {% endif %}
    "
>

    <div class="container max-w-4xl mx-auto items-center flex flex-wrap">
        <div class="flex w-full pb-8 md:pb-0 md:w-1/4 text-2xl justify-center {% if include.specialcolor == false %} md:pl-6 md:order-last {% else %} md:pr-6 {% endif %}">
            <h2 class="font-extralight text-center">
                {{ include.title }}
            </h2>
        </div>
        <div class="flex w-full md:w-3/4 md:pl-3">
            <p class="w-full md:text-lg leading-normal">
                <zero-md src="{{ include.text }}"></zero-md>
            </p>
        </div>

    </div>
</div>