<div class="w-full px-6 py-12" style="
    {% if include.specialcolor == true %} background-color: var(--special-color); {% endif %}
    "
>

    <div class="container max-w-4xl mx-auto items-center flex">
        <div class="flex w-1/4 text-2xl px-6 justify-center {% if include.specialcolor == false %} order-last {% endif %}">
            <p class="font-light text-center">
                {{ include.title }}
            </p>
        </div>
        <div class="flex w-3/4 px-6">
            <p class="text-md md:text-lg text-gray-600 leading-normal">
                <zero-md src="{{ include.text }}"></zero-md>
            </p>
        </div>

    </div>
</div>