<head lang="en-UK">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.logo }}">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- START -- Alpine.js -- https://alpinejs.dev/ -->
    <script defer src="/assets/alpine3.min.js"></script>
    <!-- END -- Alpine.js -- https://alpinejs.dev/ -->

    <!-- START -- zero-md -- https://github.com/zerodevx/zero-md -->
    <script>
        window.ZeroMdConfig = { 
            cssUrls: [
                '/assets/github.markdown.min.css',
                '/assets/prism.min.css',
                '/assets/zeromd-custom.css'
            ]
        }
    </script>
    <script type="module" src="assets/zeromd.js"></script>
    <!-- END -- zero-md -- https://github.com/zerodevx/zero-md -->
  
    <!-- START -- Tailwind Play CDN -- comment out in production 
    <script src="https://cdn.tailwindcss.com"></script>
    -- END -- Tailwind Play CDN -- comment out in production -->

    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="assets/custom.css">
    <script src="assets/icons/glyphs-core.js" type="module" defer></script>
    <script src="assets/icons/glyphs-brand.js" type="module" defer></script>
  </head>