<div class="pt-10 pb-24 px-6 relative">

    <div class="container mx-auto text-left flex items-center flex-wrap">

        <div class="flex justify-center w-full md:justify-end md:w-1/4 md:ml-20">
            <div>
                <img src="{{ include.image }}" class="mb-2 rounded-full border border-gray-100 shadow-sm max-w-[200pt] mx-auto" alt="Kevin Han Huang 黄瀚" />
        
                <p class="text-center text-slate-500">
                    <a class="text-[1.5em] align-middle" src="https://github.com/KevHH"><brands-github variant="color"></brands-github></a>
                    <a class="text-[1.5em] align-middle" src="https://www.linkedin.com/in/kevin-han-huang-995ab1a0/"><brands-linkedin variant="color"></brands-linkedin></a>
                    <a class="text-[1.5em] align-middle" src="https://arxiv.org/a/0000-0002-9534-7239.html"><img width="15" height="15" style="display:inline" src="assets/icons/arxiv-logomark-small.svg" ></a>
                    <a class="text-[1.5em] align-middle" src="https://scholar.google.com/citations?hl=en&user=eJXepUMAAAAJ"><img class="pb-[3px]" width="22" height="22" style="display:inline" src="assets/icons/google-scholar-logo.svg" ></a>
                </p>
                
                <p class="text-center text-slate-500">
                    <span class="text-[1.5em] align-middle"><core-envelope variant="bold"></core-envelope></span>
                    <span class="text-[0.75em]">{{ site.email }}</span>
                </p>
            </div>
        </div>

        <div class="w-full justify-end mt-10 md:w-1/2 lg:w-2/3 md:ml-20 md:mt-0 max-w-[480pt] md:ml-auto xl:mr-20">
            <p class="text-md md:text-lg text-gray-600 leading-normal">
                <zero-md src="{{ include.text }}"></zero-md>
            </p>
        </div>

    </div>

</div>