<div class="w-full py-24 px-6 bg-blue-100 relative">

    <div class="container max-w-4xl mx-auto text-left flex items-center flex-wrap">

        <div class="w-full md:w-2/3 md:pr-6">
            <p class="text-md md:text-lg text-gray-600 leading-normal">
                <zero-md src="{{ include.text }}"></zero-md>
            </p>
        </div>

        <div class="hidden md:block w-1/3">
            <img src="{{ include.image }}" class="w-full h-auto shadow-lg" />
        </div>
    </div>

</div>