<div class="pt-10 pb-24 px-6 relative">

    <div class="container mx-auto text-left flex items-center flex-wrap">

        <div class="flex justify-center w-full md:justify-end md:w-1/4 md:ml-20">
            <div>
                <img src="{{ include.image }}" class="mb-2 rounded-full border border-gray-100 dark:border-gray-900 shadow-sm max-w-[200pt] mx-auto" alt="Kevin Han Huang 黄瀚" />
        
                <p class="text-center text-white">
                    <a class="px-1 text-[1.5em] align-middle inline-block dark:hidden" src="https://github.com/KevHH"><brands-github variant="color"></brands-github></a>
                    <a class="px-1 text-[1.5em] align-middle hidden dark:inline-block" src="https://github.com/KevHH"><brands-github variant="solid"></brands-github></a>
                    <a class="px-1 text-[1.5em] align-middle inline-block" src="https://www.linkedin.com/in/kevin-han-huang-995ab1a0/"><brands-linkedin variant="color"></brands-linkedin></a>
                    <a class="px-1 pb-1 text-[1.5em] align-middle inline-block" src="https://arxiv.org/a/0000-0002-9534-7239.html"><img class="inline-block" width="12" height="12" src="assets/icons/arxiv-logomark-small.svg" ></a>
                    <a class="px-1 pb-[6px] text-[1.5em] align-middle inline-block" src="https://scholar.google.com/citations?hl=en&user=eJXepUMAAAAJ"><img class="inline-block" width="18" height="18" src="assets/icons/google-scholar-logo.svg" ></a>
                </p>
                
                <p class="text-center text-slate-700 dark:text-slate-300">
                    <span class="text-[1.5em] align-middle"><core-envelope variant="bold"></core-envelope></span>
                    <span class="text-[0.75em]">{{ site.email }}</span>
                </p>
            </div>
        </div>

        <div class="w-full justify-end mt-10 md:w-1/2 lg:w-2/3 md:ml-20 md:mt-0 max-w-[480pt] md:ml-auto xl:mr-20">
            <p class="text-md md:text-lg text-gray-600 leading-normal">
                <zero-md src="{{ include.text }}"></zero-md>
            </p>
        </div>

    </div>

</div>