


    <!-- testimonial -->
    <div class="w-full px-6 py-12 bg-gray-600 text-gray-300">
        <div class="container max-w-lg mx-auto text-center">
            <p class="leading-normal mb-6">Thanks guys, keep up the good work! You won't regret it. After using Free Templates my business skyrocketed! I'd be lost without Free Templates.</p>
            <p class="font-bold">Rubie J.</p>
        </div>
    </div>
    <!-- /testimonial -->

    <!-- content -->
    <div class="w-full px-6 py-12 bg-white">

        <div class="container max-w-4xl mx-auto flex flex-wrap">
            
            <div class="w-full md:w-1/2 flex flex-wrap">
                <div class="w-full md:w-1/2 p-2">
                    <img src="https://images.unsplash.com/photo-1486308510493-aa64833637bc?w=800" class="w-full h-48 object-cover" />
                </div>
                <div class="w-full md:w-1/2 p-2">
                    <img src="https://images.unsplash.com/photo-1506629082955-511b1aa562c8?w=800" class="w-full h-48 object-cover" />
                </div>
                <div class="w-full md:w-1/2 p-2">
                    <img src="https://images.unsplash.com/photo-1537832816519-689ad163238b?w=800" class="w-full h-48 object-cover" />
                </div>
                <div class="w-full md:w-1/2 p-2">
                    <img src="https://images.unsplash.com/photo-1499175898579-d743fea6e7dc?w=800" class="w-full h-48 object-cover" />
                </div>
            </div>

            <div class="w-full md:w-1/2 p-2 md:px-6">
                <h3 class="text-xl md:text-2xl text-gray-900 mb-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h3>
                
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut.</p>
                <p class="mb-8">Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="inline-block bg-black text-white text-sm px-4 py-3 no-underline">Browse our products</a>
            </div>

        </div>
    </div>
    <!-- /content -->