p, ul {
  font-size: 14px; 
  font-weight: 300;
}

.markdown-body h2 {
  font-size: 20px; 
}

@media (min-width:420px) {
  p, ul {
    font-size: 16px;
  }

  .markdown-body h2 {
    font-size: 20px; 
  }
}

@media (prefers-color-scheme: dark) {
  p, ul, h2 {
    color:#EEEEEE;
  }
  .markdown-body p a, 
  .markdown-body ul a {
    color:#A4D0FF;
  }
}